* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: yellow;
}

.search-holder-div {
  width: 100%;
  height: 20%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-items-list-div {
  width: 60%;
  max-height: 300px;
  background-color: rgb(250, 250, 250);
  overflow-y: scroll;
  position: absolute;
  top: 100%;
}

.food-info-div {
  width: 80%;
  height: 40%;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

.food-add-div {
  width: 80%;
  height: 40%;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
}
