* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: .5s ease-out 0s 1 appearAnimation;
  position: relative;
}

.loading-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
