* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .loading-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.main-div {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}

.buttons-div {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.holder-div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 10px;
}

.macro-cards-div {
    width: 40%;
    height: 300px;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.macro-card {
    width: 49%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

/* .proteins-card {
    width: 49%;
    height: 50%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.carbs-card {
    width: 49%;
    height: 50%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.fats-card {
    width: 49%;
    height: 50%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
} */

.progress-bar-div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar-text {
    position: absolute;
}

.foods-eaten-div {
    width: 40%;
    height: 300px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.foods-list {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
}

.foods-list-meal {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.foods-list-meal-holder {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.span-calories {
    color: red;
}

.span-proteins {
    color: orange;
}

.span-carbohydrates {
    color: lightblue;
}

.span-fats {
    color: lightgreen;
}

.empty-foods-list {
    width: 100%;
    display: flex;
    justify-content: center;
}