<p>daily-macros works!</p>

<input type="date" [(ngModel)]="findDate" />
<button (click)="onClick()">Click</button>

<div class="main-div">
    
    <p>
        <button (click)="onPrevDate()"><</button>
        {{userData.addedDate}}
        <button (click)="onNextDate()">></button>
    </p>
    
    <div class="macro-cards-div">
        <div class="calories-card">
            <p>calories</p>
            <p>{{userData.dailyCalories}}</p>
        </div>
        <div class="proteins-card">
            <p>proteins</p>
            <p>{{userData.dailyProteins}}</p>
        </div>
        <div class="carbs-card">
            <p>carbs</p>
            <p>{{userData.dailyCarbohydrates}}</p>
        </div>
        <div class="fats-card">
            <p>fats</p>
            <p>{{userData.dailyFats}}</p>
        </div>
    </div>
    <div class="foods-eaten-div">
        <p>description</p>
    </div>
</div>