* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

@keyframes slideToMiddleLeft {
  0% {
    transform: translateX(-50%);
    box-shadow: 10px 10px 20px rgb(71, 71, 71);
  }
  100% {
    transform: translateX(0%);
    box-shadow: 10px 10px 20px rgb(71, 71, 71);
  }
}

@keyframes slideToMiddleRight {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(245, 245, 245);
}

.main-content-card {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  left: 1.5%;
  /* background-color: yellow; */
}

.left-main {
  width: 50%;
  border-radius: 30px;
  /* box-shadow: 10px 10px 20px rgb(71, 71, 71); */
  /* padding: 20px; */
  background-image: url("https://img.freepik.com/free-vector/background-abstract-gradient-color-style_483537-3675.jpg");
  background-size: cover;
  overflow: hidden;
  animation: 1s ease-out 0s 1 slideToMiddleLeft;
}

.right-main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  left: 25%;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgb(71, 71, 71);
  padding: 20px;
  row-gap: 20px;
  animation: 1s ease-out 0s 1 slideToMiddleRight;
}

.right-text-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  animation: 1.2s ease-out 0s 1 textAppear;
}

.right-text-div > h1 {
  color: rgb(62, 142, 218);
}

.buttons-div {
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  animation: 1.2s ease-out 0s 1 textAppear;
}

.button-class {
  width: 50%;
  /* background-color: rgb(24, 126, 221); */
  background-color: rgb(62, 142, 218);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.button-class:hover {
  color: rgb(0, 153, 255);
  background-image: none;
  background-color: white;
  transition: 0.5s;
}

.login-form {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.login-form > mat-form-field {
  width: 50%;
}
